// components/HeartAnimation.module.scss
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.asterisk {
  transform-origin: center;
  animation: spin 2s infinite ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
