// components/HeartAnimation.module.scss
.wrapper {
  // display: inline-block;
}

.heart {
  animation: pulse 2s infinite ease-in-out;
  transform-origin: center;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
