@import "../../styles/base";

.copyRight {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-top: toREM(20);
  color: var(--color-lightGrey);
}
